body{
    background: black;
    color: whitesmoke;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
  }

  #nav{
    /* font-family: something lit; */
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    background: black;
    left: 0;
}

li{
    list-style-type: none;
    text-align: center;
    float: left;
    position: sticky;
    top: 0;
    width: 100%;
}
li a{
    display: block;
    color: #f3c300;
    text-decoration: none;
}
li a:hover {
    background-color: gold;
    color: black;
    transition: .7s;
    box-shadow: 2px 2px 20px #f3c300;
    border-radius: 30px;
}
#parainner{
    padding: 300px;
    color: white;
    border: none;
    margin: 0;
}

#para{
    background: url("images/analyze.gif") fixed;
    /* background: red; */
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
#para2{
    /* background: url("#") fixed; */
    background: yellow;
    background-size: cover;
    border: none;
}
#para3{
    /* background: url("#") fixed; */
    background: green;
    background-size: cover;
    border: none;
    display: flex;
    flex: wrap;
    /* Items in the classes of js node jquery etc, will be logo iages that are inside of a flex box, clicking on any of the images will take you to the website. */
}
#para4{
    /* background: url("#") fixed; */
    background: black;
    background-size: cover;
    border: none;
}
#para5{
    /* background: url("#") fixed; */
    background: gray;
    background-size: cover;
    border: none;
}
.back1{
    background: black;
    opacity: .7;
    margin: 0;
    padding: 0;
}